@import "../../styles/variables";
@import "../../styles/mixins";


.ModalDrink_overlay{
  @include flex-container;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:$background-overlay;
  z-index: 2;
.ModalDrink_background{
  .Background_Modal{
    position: fixed;
    width: 900px;
    height: 550px;
    top: 180px;
    left: calc(50% - 450px);
    object-fit: cover;
    filter: blur(10px)
  }

.ModalDrink {
  @include flex-container;
  position: fixed;
  width: 800px;
  height: 500px;
  background-color: $background-primary-color;
  border-radius: 6px;
  top: 230px;
  left: calc(50% - 400px);
  z-index: 3;
  font-size: 0.8rem;

  .image {
    width: 48%;
    height: 100%;
 
    img {
      width: 100%;
      height: 500px;
      border-radius: 6px;;
      object-fit: cover;
    }

    
    
  }

  .text {
    @include flex-container(column, space-around, center);
    // @include spacing(10px0);
    box-sizing: border-box;
    width: 52%;
    height: 100%;
    padding: 20px;
  
   

    hr {
      width: 80%;
      border: 0;
      border-bottom: 3px dotted $text-primary-color;
      border-radius:100%;
      margin:4px;
    }
    
    &_main{
     
    // @include spacing(10px0);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    gap:3px;
   
     &_header{
      @include flex-container(row, space-between );
      button{
        border: none;
        background-color: transparent;
        cursor: pointer;
        color:$text-primary-color;
      &:hover{
        scale: 1.1;
        }
       }
     }

    
    }

    &_lists {
      width: 100%;
      @include flex-container(column, flex-start, flex-start );
      @include spacing;
      

      &_ingredients {
        @include spacing(0, 0 0 8px 0);
        list-style-type: none;

      
      }
      &_instructions {
        @include spacing(0, 0 0 8px 0);
        list-style-type: none;
      }
    }
  }

  
}
}
}