@import "../../styles/variables";
@import "../../styles/mixins";



.Hero {
  @include flex-container( column );


  hr {
    width: 80%;
    border: 0;
    border-bottom: 3px dotted $text-primary-color;
    border-width: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .main_list {
    @include flex-container( row , center,center, 40px );
    @include spacing( 0,0 );
    list-style-type: none;

    li {
      @include flex-container( row , center,center, 10px );
      @include spacing( 0,0 );
      
      .icon{
        display:none;
     
      }
      span{
        font-size: 1.7rem;
        font-family:$font-stack;
        font-style: $font-w-stack;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
      
    }
  }

  .filter_list {
    @include flex-container( row , center,center, 40px );
    @include spacing( 0, 0 0 20px 0 );
    list-style-type: none;
  

    li {
      padding: 20px 8px 10px 8px;
      cursor: pointer;
      font-weight: bold;
      font-size: 0.7rem;
 

      &:hover {
        border-bottom: 1px solid black;
      }
    }

    .hamList{
      @include flex-container( column , center,center, 40px );
      position: fixed;
      gap:25px;
      top:60px;
      right:10px;
      width: 130px;
      height: 800px;
      background-color:$background-secondary-color ;
      color:white;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.812);
      @include spacing( 10px,0 );
      z-index: 2;
    }

  }
}


@media screen and (min-width: 1050px) {
  .icon {
    display:block !important;
    font-size: 3.2rem ;
    transform: rotate(9deg);
  }
}
