@import "../../styles/variables";
@import "../../styles/mixins";



.Hero {
  @include flex-container( column );


  hr {
    width: 80%;
    border: 0;
    border-bottom: 3px dotted $text-primary-color;
    border-width: 10px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .Hero_main_list {
    @include flex-container( row , center,center, 40px );
    @include spacing( 0,0 );
    list-style-type: none;

    li {
      @include flex-container( row , center,center, 10px );
      @include spacing( 0,0 );
      
      .icon{
        font-size: 3.2rem;
        transform: rotate(9deg);
      }
      span{
        font-size: 1.7rem;
        font-family:$font-stack;
        font-style: $font-w-stack;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
      
    }
  }

  .Hero_filter_list {
    @include flex-container( row , center,center, 40px );
    @include spacing( 0, 0 0 20px 0 );
    list-style-type: none;
  

    li {
      padding: 20px 8px 10px 8px;
      cursor: pointer;
      font-weight: bold;
      font-size: 0.7rem;
 

      &:hover {
        border-bottom: 1px solid black;
      }
    }
  }
}
