// Colours
$primary-color: #373737;

$background-primary-color: #e7e2e2;
$background-secondary-color: rgba(87, 63, 63, 0.965);


$active-color: #9bac4f;
$active-color_deep: #717c3f;

$text-primary-color: #351e12;

// Fonts
$font-stack : 'Times New Roman', Times, serif;
$font-w-stack : 'italic';


// $primary-color: #4b0d0d;
// $secondary-color: #dfdcbe;



// $primary-color-alpha: #0000008c;
// $impression-color: #ffffff;

// Sizes
$general_margin: 0 20px;
