// Colours
$primary-color: #373737;
$secondary-color: #151515;

$background-primary-color: #131313;
$background-secondary-color: rgba(120, 77, 77, 0.974);
$background-overlay: rgba(8, 8, 8, 0.54);


$active-color: #9bac4f;
$active-color_deep: #717c3f;

$text-primary-color: #e7e7e7;
// $text-primary-color: #351e12;

// Fonts
$font-stack : 'Times New Roman', Times, serif;
$font-w-stack : 'italic';


// Sizes
$general_margin: 0 20px;
