@import "../../styles/variables";
@import "../../styles/mixins";


.Navbar {
  @include flex-container( row , space-between );
  @include spacing( 15px 20px, 0 );
   
  .hamburger{
    display:flex;
    font-size: 1.6rem;
    padding:10px;
  }

  .main_list_mobile{
      display:flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap:25px;
      @include spacing( 10px,0 );
      list-style-type: none;
      position:fixed;
      top:60px;
      left:10px;
      width: 100px;
      height: 200px;
      background-color:$background-secondary-color ;
      color:white;
      border-radius: 3px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.812);
  
      li {
        font-weight: bold;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
  }


    .main_list {
     
      // @include flex-container( row , center,center, 18px );
      display: none;
      @include spacing( 0,0 );
      list-style-type: none;
  
      li {
        font-weight: bold;
        cursor: pointer;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  
    h3 {
    font-size: 1.5rem;
    }
  
    .btn {
      width: 130px;
      height: 30px;
      border: 0;
      border-radius: 12px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.35s;
  
      &:hover {
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }

    .social_list {
         display:none;
        @include spacing( 0,0 );
        font-size: 1rem;
        list-style-type: none;
    
        li {
          font-weight: bold;
          cursor: pointer;
          border-radius: 70%;
          padding:3px;
          background-color:lightgray
        }
      }
  }
  
  @media screen and (min-width: 1050px) {

    .Navbar {
        .hamburger {
         display: none;
         }
         
    .main_list {
      // @include flex-container( row , center,center, 18px );
      display: flex ;
      justify-content: center;
      align-items: center;
      gap:40px;
      
    }

    .social_list {
      display:flex ;
      align-items:center;
      justify-content: center;
      gap:20px;
      
       @include spacing( 0,0 );
  
    }


  }
  
    
  }